*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: normal;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #FF7300, rgb(241, 241, 112));
  margin: 0;
  padding: 0;
}

.calculator {
  max-height: 800px;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #1C1C1C;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.display, .outerDisplay{
  text-align: end;
  height: 111px;
  font-size: 4rem;
  padding-right: 27px;
  padding-left: 27px;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

.buttons {
  padding: 4px;
}

button {
  border-radius: 100px;
  border: none;
  height: 120px;
  width: 120px;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-size: 1.75rem;
}

.digit {
  background-color: #505050;
}

.operator {
  background-color: #FF9500;
}

.clear {
  margin-bottom: 8px;
  background-color: #797979;
  width: 368px;
}

.equals {
  background-color: #FF9500;
}

button {
  cursor: pointer;
}

.equals:hover, .operator:hover{
  background-color: rgba(255, 149, 0, 0.8);
}

.digit:hover, .clear:hover, .delete:hover {
  background-color: rgba(80, 80, 80, 0.3);
}

.outerDisplay {
  padding-top: 0.25rem;
  color: #505050;
}

.delete {
  margin-left: 4px;
  background-color: #797979;
}

.delete svg {
  width: 32px;
  height: 28px;
}

.clear {
  text-align: center;
}

.display::-webkit-scrollbar {
  display: none;
}

.outerDisplay::-webkit-scrollbar {
  display: none;
}